body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.symbols {
  font-size: 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 31px;
  font-size: 18px;
  background-color: green;
  padding: 10px 20px;
}

.navbar {
  position: fixed;
  top: 51px;
  left: 0;
  height: 100vh;
  width: 260px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-item {
  display: block;
  padding: 15px 20px;
  color: #444;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid #f0f0f0;
  border-bottom: none;
}
.nav-item:hover {
  background-color: #f0f0f0;
}
.nav-item1 {
  padding: 15px 29px;
  color: #444;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid #f0f0f0;
  border-bottom: none;
  display: inline-flex;
}
.nav-item1:hover {
  background-color: #f0f0f0;
}
li a {
  text-decoration: none;
}
.arrow {
  margin-left: 5rem;
  color: black;
}
.nav-container:hover {
  background-color: #f0f0f0;
}

/* Card Section  */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.card {
  width: 159px;
  height: 132px;
  background-color: none;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  margin: 2px 0;
  font-size: 16px;
  text-align: start;
}

.heading1 {
  margin: 5px 0;
  font-size: 16px;
  text-align: start;
}

.total-votes {
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
  color: #888;
}

.marked-winning {
  text-align: start;
  margin-top: -1px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.con {
  margin-top: 1.4rem;
}

.hr-space {
  margin-top: 1rem;
}

.card-class {
  display: flex;
  gap: 1rem;
  /*  Avoid it huge margin  */
  margin-left: 17rem;
  margin-top: 2.5rem;
}

.card1 {
  width: 159px;
  height: 323px;
  background-color: none;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-top: -1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card3 {
  width: 350px;
  height: 120px;
  background-color: none;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  margin-top: -25px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card4 {
  width: 350px;
  height: 180px;
  background-color: none;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  right: 24.3rem;
  top: 7.5rem;
}

.heading2 {
  margin: 5px 0;
  font-size: 13px;
  text-align: start;
}

.total-votes1 {
  text-align: start;
}

.total-votes3 {
  margin-top: -35px;
}

.card5 {
  width: 210px; /* You can adjust the width value as needed */
  height: 489px;
  background-color: none;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 513px;
  left: 378px;
}
.card6 {
  width: 210px;
  height: 489px;
  background-color: none;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 15rem;
  bottom: 113px;
}

.card5container {
  display: flex;
  gap: 30px;
}
*/ .heading3344 {
  margin-top: 180px;
}
